@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,700&display=swap');

/*ESTILOS GNRLS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}
:root{
    --green: #d4923c;
    --dark-color:#ad590af6;
    --black:#444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.2);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}



.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    color: #fff;
    border-radius: .5rem;
    font-size: 1.7rem;
    background-color: var(--green);
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--dark-color);
    
}

section{
    padding: 5rem 9%; 
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background-color: #ffff;
    border: var(--border);

}




/* HEADER */

.header .header-one{
    background-color: #fff;
    padding: 1.5rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .header-one .logo{
   font-size: 2.5rem;
   font-weight: bolder;
   color: var(--black);

}

.header .header-one .logo i{
    color: var(--green);
}


.header .header-one .search-form{
    width: 45rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 4rem;
}

.header .header-one .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
   
    
    
}


.header .header-one .search-form label{
    font-size: 2.3rem;
    padding:  1.6rem;
    color: var(--black);
    cursor: pointer;
   
}

.header .header-one .search-form label:hover{
    color: var(--green);
}

.header .header-one .icons div,
.header .header-one .icons a{   
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-one .icons div:hover,
.header .header-one .icons a:hover{
    color: var(--green);
}

#search-btn{
    display: none;
}


.header .header-two{
    background-color: var(--green);

}

.header .header-two.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .header-two .nav-bar{
    text-align: center;
}



.header .header-two .nav-bar a{
    color: #fff;
    display: inline-block;
    padding: 1.3rem;
    font-size: 1.7rem;
}

.header .header-two .nav-bar a:hover{
    background-color: var(--dark-color);
}



.bottom-navbar{
    text-align: center;
    background-color: var(--green);
    position: fixed;
    bottom: 0;left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
  font-size: 2.5rem;
  padding: 2rem;
  color: #fff;
}


.bottom-navbar a:hover{
    background-color: var(--dark-color);
}
  


/*LOGIN*/

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: rgba(255,255,255,.9);
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100000;
    height: 100%;
    width: 100%;
    transition: .3s ease;

}
.login-form-container.active{
    right:0;
}

.login-form-container form{
    background-color: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .5rem;
    margin: 2rem;
    border: .1rem solid rgba(0, 0, 0, 0.082);
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}



.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 1rem 0;
}


.login-form-container form .checkbox label{
    font-size: 1.4rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form  .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;  
}

.login-form-container form p a{
    color: var(--green);
    text-decoration: underline;
}

.login-form-container  #close-btn-login{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 4.5rem;
    color: var(--green);
    cursor: pointer;
}


/*CART SECTION*/
#login-btn{
    position: relative;
    z-index: 50000;
    cursor: pointer;
}

#cart-icon{
    position: relative;
    z-index: 50000;
    cursor: pointer;
}

.cart-container{
    width: 100%;
    height: 100%;
    background-color: rgba(139, 136, 136, 0.315);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1999;
    position: fixed;
}


.cart{
    width: 57rem;
    height: 25rem;
    position: absolute;
    right: 0;
    top: 8rem;
    z-index: 2000;
    background-color: rgb(168, 168, 168);
    border-radius: .3rem;

}

.cart .cart-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    font-size: 1.6rem;
    border-bottom:.1rem solid var(--light-color);
}





/*HOME SECTION*/



#inicio{
    background: url(img/fondo-section.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
   
}


.home .row .content{
    flex: 1 1 33rem;
}


.home .row  .book-slider{
    flex: 2 1 43rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row  .book-slider a img{
    height: 23rem;
    box-shadow: 0 0 1.7rem rgba(0,0,0,.9);
    
}

.home .row  .book-slider a:hover img{
   transform: scale(.9);
}

.home .row  .book-slider .table{
    width: 100%;
    filter: drop-shadow(1rem .4rem 1rem var(--black));
    
}


.home .row .content h3{
    color: var(--black);
    font-size: 4.9rem;
    padding-bottom: 1rem;
}
.home .row .content h3 span{
    color: var(--green);
   

}


.home .row .content p{
    color: var(--black);
    font-size: 1.9rem;
    line-height: 2;
  
}



/*SECTION ICONS*/


.icons-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
    background-color: var(--green);
}


.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:#fff;
}

.icons-container .icons h3{
    font-size: 2.4rem;
    color: var(--green);
    color: var(--black);
    padding-bottom: .6rem;
}


.icons-container .icons p{
    font-size: 1.5rem;
    color:#fff;
}


/*SECTION DESTACADOS*/

.featured .featured-slider .box{
    width: 25rem;
    margin: 2rem 0;
    padding: .4rem  0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
    cursor: pointer;
    position: relative;
}


.featured .featured-slider .box:hover{
    border: var(--border-hover);
}


.featured .featured-slider .box .image{
    padding: 1rem;
   
}

.featured .featured-slider .box .image img{
    height: 26rem;
    filter: var(--box-shadow);
}
.featured .featured-slider .box:hover .image img{
    transform: translateY(6rem);
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .box .fa-heart.active{
    color: red;

}
.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color: var(--border);
    font-size: 2.3rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background-color: var(--green);
}

.featured .featured-slider .box .content{
    background-color: #eee;
    padding: 1.5rem;

}


.featured .featured-slider .box .content h3{
    font-size: 1.6rem;
    color: var(--black);

}

.featured .featured-slider .box .content .price{
    font-size: 2rem;
    color: var(--black);
    padding-top: 1rem;

}

.featured .featured-slider .box .content .price span{
    font-size: 1.2rem;
    color: var(--light-color);
    text-decoration: line-through;

}

#btn-slider{
    width: 4rem;
    height: 4rem;
    border: var(--border-hover);
    color: var(--black);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    
}

#btn-slider::after{
    font-size: 2rem;
}
#btn-slider:hover{
    background-color: var(--green);
    color: #fff;
}



/*SECTION SUSCRIBE*/


.newslatter{
    background: url(/img/reading.jpg) no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment:fixed;
}

.newslatter form{
    max-width: 48rem;
    margin-left: auto;
    text-align: center;
    padding: 7rem 0;
}

.newslatter form h3{
    font-size: 2.2rem;
    color: #fff;
    font-weight: bold;

}

.newslatter form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    padding: 1rem 1.3rem;
    border: .5rem;
    color: var(--black);
    text-transform: none;
}


/*SECTION ARRIVALS*/

.arrivals .arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem;
    
}

.arrivals .arrivals-slider .box:hover{
    border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height: 15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 1.6rem;
    color: var(--black);

}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;

}


.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color: var(--light-color);
  text-decoration: line-through;

}


.arrivals .arrivals-slider .box .content .stars i{
  font-size: 1.5rem;
  color: var(--green);

}


/*SECTION OFFER*/


.offer{
    background-color: #e6e6e6a9;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.offer .content{
    flex: 1 1 41rem;
}


.offer .image{
    flex: 1 1 26rem;
    padding-left: 2rem;

}

.offer .image img{
   width: 85%;
   filter: drop-shadow(1.4rem 1.5rem 1.2rem rgb(99, 99, 99));
}

.offer .content h3{
    color: var(--green);
    font-size:3.7rem;
}

.offer .content h1{
    color: var(--black);
    font-size: 3.6rem;
    padding-bottom: .5rem;
}

.offer .content p{
    color: var(--black);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 2;
}


/*SECTION REVIEWS*/

.reviews .reviews-slider .box{
    width: 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    
}

.reviews .reviews-slider .box:hover{
    border: var(--border-hover);
}


.reviews .reviews-slider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}


.reviews .reviews-slider .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}


.reviews .reviews-slider .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;

}


.reviews .reviews-slider .box .stars i{
   color: var(--green);
   font-size: 1.6rem;
}




/*FOOTER*/

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
   gap: 1.5;

}


.footer .box-container .box h3{
    font-size: 2.3rem;
    color: var(--black);
    padding: 1rem 0;
}



.footer .box-container .box a{
     display: block;
     font-size: 1.4rem;
     color: var(--light-color);
     padding: 1rem ;
}

.footer .box-container .box a i{
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}


.footer .box-container .box .map{
   width: 39%;
}
.footer .social-media{
    padding: 1.4rem 0;
    text-align: center;
}

.footer .social-media a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: var(--green);
    margin: 0 1rem;
    border-radius: 50%;
    text-align: center;

}

.footer .social-media a:hover{
    background-color: var(--black);
}

.footer .credit{
    color: var(--light-color);
    font-size: 1.4rem;
    float: right;
   
}
.footer .credit span{
    color: var(--green);
    
}































/*MEDIA QUERIES*/

@media (max-width:991px){
    html{
        font-size: 55%;
       
    }
    .header .header-one{
        padding: 2rem;
    }
    section{
        padding: 3rem 5rem; 
    }
}



@media (max-width:768px){
    html{
        scroll-padding-top: 0;
    }
    
    
    .header .header-two{
        display: none;
    }

    header .header-one{
        box-shadow: var(--box-shadow);
        position: relative;
    }
    #search-btn{
        display: inline-block;
    }
    header .header-one .search-form{
       position: absolute;
       top: -115%;
       right: 2rem;
       box-shadow: var(--box-shadow);         
    }
    header .header-one .search-form.active{
        top: 115%;
        width: 90%;
    }
    .bottom-navbar{
        display: block;
    }
    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
       font-size: 3.4rem;  
    }

    .newslatter{
        background-position: left;
    }

    .newslatter form{
        margin-left: 0;
       max-width: 100%;
    }
   
}




@media (max-width:450px){
    html{
        font-size: 48%;  
    }

    .footer .credit{
      padding-bottom: 4rem;
      text-align: center;
       
    }
   
  
}





























